/*
font-family: 'Fredoka One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

body {
	margin: 0;
	font: 15px/1.9em "Roboto", sans-serif;
	color: #333;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header.main .container .top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 25px 0;
}

.logo {
	font-family: 'Roboto slab', sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 30px;
	color: #333;
}

a.cart {
	display: inline-block;
	text-decoration: none;
	color: #000;
}

a.cart * {
	display: inline-block;
	vertical-align: middle;
}

a.cart img {
	width: 30px;
}

a.cart .text {
	position: relative;
	top: 2px;
	margin-left: 3px;
}

header.main .nav-bar {
	background: #000;
	margin-bottom: 50px;
}

header.main .nav-bar ul {
	margin: 0;
	padding: 0;
	display: flex;
}

header.main .nav-bar li {
	margin: 0;
	list-style: none;
	margin-right: 50px;
}

header.main .nav-bar a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 15px 0;
}

section.content .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section.content aside {
	flex: 0 0 20%;
}

section.content main {
	flex: 0 0 75%;
}

.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.items li {
	flex: 0 0 30%;
	list-style: none;
	text-align: center;
	margin-bottom: 50px;
}

.items li img {
	width: 100%;
	height: auto;
	display: block;
}

.items li .details {
	background: #eee;
	padding: 10px;
}

.items li h4 {
	margin: 0;
}

footer.main {
	background: #232323;
	color: #969696;
	margin-top: 100px;
	padding: 25px 0;
}

footer.main h4{
	color: #fff;
	margin: 10px 0;
}

footer.main .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer.main .col {
	flex: 0 0 30%;
}