*::before,
*::after {
	box-sizing: border-box;
}

body {
	font: 14px/1.6em sans-serif;
	margin: 0;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
}

.logo {
	padding: 10px;
}

.logo img {
	display: block;
	width: 100%;
	max-height: 50px;
}

header.main {
	position: fixed;
	width: 100%;
	background: #fff;
}

header.main a {
	color: #000;
	text-decoration: none;
}

header.main .container {
	display: flex;
	justify-content: space-between;
}

header.main nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

header.main nav li {
	list-style: none;
}

header.main nav a {
	display: inline-block;
	padding: 25px;
	font-weight: bold;
	text-transform: uppercase;
}

header.main nav a:hover {
	box-shadow: inset 0 -3px 0 0 #333;
}

header.main .cart {
	display: flex;
}

header.main .cart img {
	max-width: 25px;
	margin-right: 5px;
}

header.main .cart .text {
	align-self: center;
}

.emotion {
	width: 100%;
	height: 75vh;
	background-size: cover;
	background-position: center;
}