*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: 14px/1.6em sans-serif;
	margin: 0;
	overflow-y: scroll;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 20px;
}

.logo {
	padding: 10px 10px 10px 0;
	margin-right: auto;
}

.logo img {
	display: block;
	width: 35px;
}

header.main {
	position: fixed;
	width: 100%;
	background: #fff;
}

header.main * {
    user-select: none;
}

header.main .container {
	display: flex;
	justify-content: space-between;
}

header.main a {
	display: inline-block;
	color: #000;
	text-decoration: none;
}

header.main nav {
	display: none;
}

header.main nav ul {
	margin: 0;
	padding: 0;
}

header.main nav li {
	list-style: none;
}

header.main nav a {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px;
	width: 100%;
}

header.main .cart {
	display: flex;
}

header.main .cart img {
	max-width: 25px;
	margin-right: 5px;
}

header.main .cart .text {
	align-self: center;
	display: none;
}

header.main .menu-toggle {
	display: flex;
	margin-left: 10px;
	cursor: pointer;
}

header.main .menu-toggle img {
	width: 25px;
	height: 25px;
	align-self: center;
}

@media (max-width: 899px) {
	header.main nav {
		display: block;
		position: fixed;
		top: 0;
		right: 0%;
		width: 250px;
		min-height: 100vh;
		background: #fff;
		transform: translate3d(250px,0,0);
		transition: all 0.25s ease-in-out;
		opacity: 0
	}
	body.show-menu header.main nav {
		transform: translateZ(0);
		right: 0;
		opacity: 1;
	}
	body.show-menu header.main nav a {
		padding: 15px 25px;
		font-weight: normal;
		background: #f6f6f6;
		border-bottom: 1px solid #ccc;
	}
	header.main:before {
		content: "";
		display: block;
		z-index: -1;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
		background: rgba(0,0,0,.5);
		transition: all 0.25s ease-in-out;
	}
	body.show-menu header.main:before {
		opacity: 1;
		visibility: visible;
		transition: opacity .2s,visibility 0ms;
	}
	body.show-menu .close-side {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: calc(100% - 250px);
	}
}

@media (min-width: 900px) {
	.logo {
		padding: 10px;
		margin-right: 0;
	}
	.logo img {
		width: 50px;
	}
	header.main .menu-toggle {
		display: none;
	}
	header.main nav {
		display: block;
	}
	header.main nav ul {
		display: flex;
		margin: 0;
		padding: 0;
	}
	header.main nav a {
		padding: 25px;
		text-align: left;
		width: auto;
	}
	header.main nav a:hover {
		box-shadow: inset 0 -3px 0 0 #333;
	}
	header.main .cart .text {
		display: block;
	}
}

.emotion {
	background-size: cover;
	background-position: center;
	height: 300px;
}

@media (min-width: 900px) {
	.emotion {
		height: 75vh;
	}
}