*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: 16px/1.6em sans-serif;
	margin: 0;
	overflow-y: scroll;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 20px;
}

.logo {
	padding: 10px 10px 10px 0;
	margin-right: auto;
}

.logo img {
	display: block;
	width: 35px;
}

header.main {
	position: fixed;
	z-index: 999;
	width: 100%;
	background: #fff;
}

header.main * {
    user-select: none;
}

header.main .container {
	display: flex;
	justify-content: space-between;
}

header.main a {
	display: inline-block;
	color: #000;
	text-decoration: none;
}

header.main nav {
	display: none;
}

header.main nav ul {
	margin: 0;
	padding: 0;
}

header.main nav li {
	list-style: none;
}

header.main nav a {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.25em;
	display: inline-block;
	text-transform: uppercase;
	padding: 15px;
	width: 100%;
	transition: all 0.15s ease-in-out;
}

header.main nav a:hover {
	color: #00adf2;
}

header.main .cart {
	display: flex;
}

header.main .cart img {
	max-width: 25px;
	margin-right: 5px;
}

header.main .cart .text {
	align-self: center;
	display: none;
}

header.main .menu-toggle {
	display: flex;
	margin-left: 10px;
	cursor: pointer;
}

header.main .menu-toggle img {
	width: 25px;
	height: 25px;
	align-self: center;
}

.close-side {
	display: none;
}

@media (max-width: 899px) {
	header.main nav {
		display: block;
		position: fixed;
		top: 0;
		right: 0%;
		width: 250px;
		min-height: 100vh;
		background: #fff;
		transform: translate3d(250px,0,0);
		transition: all 0.25s ease-in-out;
		opacity: 0
	}
	body.show-menu header.main nav {
		transform: translateZ(0);
		right: 0;
		opacity: 1;
	}
	header.main nav a {
		padding: 15px 25px;
		font-weight: normal;
		background: #f6f6f6;
		border-bottom: 1px solid #ccc;
	}
	header.main:before {
		content: "";
		display: block;
		z-index: -1;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
		background: rgba(0,0,0,.5);
		transition: all 0.25s ease-in-out;
	}
	body.show-menu header.main:before {
		opacity: 1;
		visibility: visible;
		transition: opacity .2s,visibility 0ms;
	}
	body.show-menu .close-side {
		display: block;
		position: fixed;
		z-index: 999;
		cursor: pointer;
		top: 0;
		left: 0;
		bottom: 0;
		width: calc(100% - 250px);
	}
}

@media (min-width: 900px) {
	.logo {
		padding: 10px 0;
		margin-right: 0;
	}
	.logo img {
		width: 50px;
	}
	header.main .menu-toggle {
		display: none;
	}
	header.main nav {
		display: block;
	}
	header.main nav ul {
		display: flex;
		margin: 0;
		padding: 0;
	}
	header.main nav a {
		padding: 25px;
		text-align: left;
		width: auto;
	}
	header.main .cart .text {
		display: block;
	}
}

.emotion {
	background-size: cover;
	background-position: center;
	padding-top: 55px;
	min-height: 400px;
}

@media (min-width: 900px) {
	.emotion {
		padding-top: 70px;
		height: 70vh;
	}
}

.intro {
	padding: 5px;
}

.intro .col {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.intro .col a {
    overflow: hidden;
    display: block;
}

.intro img {
	width: 100%;
	height: auto;
	transition: all 0.25s ease-in-out;
	display: block;
}

.intro .title {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 10px 25px;
	transition: all 0.25s ease-in-out;
}

.intro .col:hover img {
	transform: scale(1.1);
}

.intro .col:hover .title {
	background: #00adf2;
	color: #fff;
}

@media (min-width: 900px) {
	.intro {
		display: flex;
	}
	.intro .col {
		flex: 0 0 25%;
	    max-width: 25%;
	}
}

.brands {
	padding: 20px;
}

.brands ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.brands li {
	list-style: none;
	margin: 5px;
}

footer.main {
	background: #f2f2f2;
	padding: 50px 0;
	margin-top: 100px;
}

footer.main h3 {
	margin: 0 0 20px;
}

footer.main ul {
	margin: 0;
	padding: 0;
	line-height: 2em;
}

footer.main li {
	list-style: none;
}

footer.main li a {
	color: #333;
	text-decoration: none;
}

footer.main li a:hover {
	text-decoration: underline;
	color: #000;
}

footer.main form {
	display: flex;
}

footer.main form input {
	font: inherit;
    padding: 8px 10px;
    flex: 0 0 70%;
}

footer.main form button {
	background: #000;
    color: #fff;
    border: 0 none;
    font-size: 0.8em;
    cursor: pointer;
    outline: 0 none;
    padding: 0 15px;
    flex: 0 0 30%;
}

footer.main .col {
	margin-bottom: 25px;
}

@media (min-width: 900px) {
	footer.main .container {
		display: flex;
	}

	footer.main .col.left {
		flex: 0 0 15%;
	}

	footer.main .col.right {
		flex: 0 0 25%;
	}

	footer.main .col.center {
		flex: 0 0 60%;
		display: flex;
	}

	footer.main .col.center .col {
		flex: 0 0 33%;
	}
}
